body {
  margin: 0;
  font-family: Avenir;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Avenir";
  src: local("Avenir"), url(../fonts/Avenir-Book.woff) format("woff");
}

@font-face {
  font-family: "Avenir Heavy";
  src: local("Avenir Heavy"), url(../fonts/Avenir-Heavy.ttf) format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace, "Avenir";
}
